- page_title "预览 | 显示"
.login-box
  .login-heading
    %h3 已存在用户？登录
  %form
    = text_field_tag :login, nil, class: "form-control top", placeholder: "用户名或者电子邮件"
    = password_field_tag :password, nil, class: "form-control bottom", placeholder: "密码"
    = button_tag "登录", class: "btn-create btn"

